In [5]:
df = pd.read_csv(r"C:\Users\Administrator\OneDrive\Desktop\SalesAI\data\raw\rossmann-store-sales\rossman-store.csv")

C:\Users\Administrator\AppData\Local\Temp\ipykernel_25176\1137989768.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\Administrator\OneDrive\Desktop\SalesAI\data\raw\rossmann-store-sales\rossman-store.csv")

In [6]:
df.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval'],
      dtype='object')

In [7]:
train = pd.read_csv(r'C:\Users\Administrator\OneDrive\Desktop\SalesAI\data\raw\rossmann-store-sales\train.csv', parse_dates=['Date'])
store = pd.read_csv(r'C:\Users\Administrator\OneDrive\Desktop\SalesAI\data\raw\rossmann-store-sales\store.csv')

C:\Users\Administrator\AppData\Local\Temp\ipykernel_2600\2037587872.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv(r'C:\Users\Administrator\OneDrive\Desktop\SalesAI\data\raw\rossmann-store-sales\train.csv', parse_dates=['Date'])

In [8]:
train = pd.merge(train, store, on='Store', how='left')

In [9]:
train.to_csv('rossman-store.csv', index=False)

In [2]:
import pandas as pd

In [8]:
pwd

'c:\\Users\\Administrator\\OneDrive\\Desktop\\SalesAI'

In [ ]:
df_events = pd.read_parquet("tmp\sales_data\store_events\events.parquet")
df_traffic = pd.read_parquet(r"C:\Users\Administrator\OneDrive\Desktop\SalesAI\tmp\sales_data\customer_traffic\year=2023\month=01\day=01\traffic_2023-01-01.parquet")
df_inventory = pd.read_parquet

In [11]:
df_events

     store_id       date event_type  impact
0   store_001 2023-01-01    closure    -1.0
1   store_001 2023-04-02    closure    -1.0
2   store_001 2023-07-02    closure    -1.0
3   store_001 2023-10-01    closure    -1.0
4   store_001 2023-12-31    closure    -1.0
..        ...        ...        ...     ...
69  store_010 2023-01-01    closure    -1.0
70  store_010 2023-04-02    closure    -1.0
71  store_010 2023-07-02    closure    -1.0
72  store_010 2023-10-01    closure    -1.0
73  store_010 2023-12-31    closure    -1.0

[74 rows x 4 columns]