In [2]:
import pandas as pd

In [8]:
pwd

'c:\\Users\\Administrator\\OneDrive\\Desktop\\SalesAI'

In [ ]:
df_events = pd.read_parquet("tmp\sales_data\store_events\events.parquet")
df_traffic = pd.read_parquet(r"C:\Users\Administrator\OneDrive\Desktop\SalesAI\tmp\sales_data\customer_traffic\year=2023\month=01\day=01\traffic_2023-01-01.parquet")
df_inventory = pd.read_parquet

In [11]:
df_events

     store_id       date event_type  impact
0   store_001 2023-01-01    closure    -1.0
1   store_001 2023-04-02    closure    -1.0
2   store_001 2023-07-02    closure    -1.0
3   store_001 2023-10-01    closure    -1.0
4   store_001 2023-12-31    closure    -1.0
..        ...        ...        ...     ...
69  store_010 2023-01-01    closure    -1.0
70  store_010 2023-04-02    closure    -1.0
71  store_010 2023-07-02    closure    -1.0
72  store_010 2023-10-01    closure    -1.0
73  store_010 2023-12-31    closure    -1.0

[74 rows x 4 columns]